{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>{{team.name}} team</h6>
          <h6>Workers</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Worker</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Position</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Joined</th>
                </tr>
              </thead>
              <tbody>
                {% for teammate in team.teammates.all %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm"><a href="{% url 'home:worker-detail' pk=teammate.id %}" class="style-green" >{{teammate.first_name}} {{teammate.last_name}}</a></h6>
                        <p class="text-xs text-secondary mb-0">{{teammate.email}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs text-secondary mb-0">{{teammate.position}}</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if teammate.check_if_online %}
                    <span class="badge badge-sm bg-gradient-success">Online</span>
                    {% else %}
                    <span class="badge badge-sm bg-gradient-secondary">Offline</span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{teammate.date_joined}}</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Team projects</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center justify-content-center mb-1">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7">Project</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Description</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Completion</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for project in team.projects.all %}
                <tr>
                  <td class="align-middle text-center">
                      <div class="my-auto">
                        <h6 class="mb-0 text-sm"><a href="{% url 'home:project-detail' pk=project.id %}" class="style-green" >{{project.name}}</a></h6>
                      </div>
                  </td>
                  <td class="align-middle text-left">
                    <span class="text-xs text-wrap">{{project.description}}</span>
                  </td>
                  <td class="align-middle">
                    <div class="progress-wrapper w-75 mx-auto">
                      <div class="progress-info">
                        <div class="progress-percentage">
                          <span class="text-xs font-weight-bold">{{ project.get_completion }}</span>
                        </div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-info w-{{ project.get_completion }}" role="progressbar" aria-valuenow="{{ project.get_completion }}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if request.user in team.teammates.all %}
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Add new project</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <form action="" method="post" novalidate class=>
            {% csrf_token %}
            {{ form|crispy }}

            <input type="submit" value="Add new project">
          </form>

        </div>
      </div>
    </div>
    {% endif %}
    {% include "includes/footer.html" %}
  {% endblock content %}
